apiVersion: v1
kind: Service
metadata:
  name: user-manager
  namespace: dsbd-ns
  labels:
    app: user-manager
spec:
  type: ClusterIP
  ports:
    - port: 5000
      name: http
      targetPort: http
    - port: 50051
      name: grpc
      targetPort: grpc
  selector:
    app: user-manager

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-manager
  namespace: dsbd-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-manager
  template:
    metadata:
      labels:
        app: user-manager
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "5000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: user-manager
          image: user-manager:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName #This is the physical node name, not the pod name

            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: DB_HOST

            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: USER_DB_PORT

            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: MYSQL_DATABASE_USER

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: MYSQL_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: MYSQL_PASSWORD

            - name: ENCRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: ENCRYPTION_KEY

            - name: DATA_COLLECTOR_HOST
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: DATA_COLLECTOR_HOST

            - name: DATA_COLLECTOR_GRPC_PORT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: DATA_COLLECTOR_GRPC_PORT

          ports:
            - containerPort: 5000
              name: http
            - containerPort: 50051
              name: grpc

          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            #limits:
              #memory: "256Mi"
              #cpu: "500m"

          startupProbe:
            httpGet:
              path: /health
              port: http
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 80 # Allows up to 800 (about 13 minutes) seconds for startup (waiting for DB)

          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5

          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
